

$base-color: lighten(#76C000, 10%);
$toolbar-gradient: 'glossy';
$tabs-bar-gradient: 'matte';


@import 'sencha-touch/default/all';
// You may remove any of the following modules that you
// do not use in order to create a smaller css file.
@include sencha-panel;
@include sencha-buttons;
@include sencha-sheet;
@include sencha-picker;
@include sencha-tabs;
@include sencha-toolbar;
@include sencha-toolbar-forms;
@include sencha-indexbar;
@include sencha-list;
@include sencha-layout;
@include sencha-carousel;
@include sencha-form;
@include sencha-msgbox;

// Your custom code goes here...

.lens-bar {
  background-color: #333;
  
  .lens-button {
    font-family: Naxos;
    margin: 5px 10px;
    color: white;
  }
}

.x-toolbar-dark {
  .x-title {
    color: white;
  }
}

@include sencha-tabbar-ui('lens-bar', #333, 'matte', #FFF);
